{% extends 'base.html' %}
{% block content %}
<main>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>welcome to the superhero library</h1>
            <h4>In our library, you can search and add any Marvel characters 
               <br>Also you can customize your own superhero and add it to your profile
                    <br>use the search page to add any of Marvel characters to your profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col md-3">
            <h1></h1>
        </div>
        <div class="col-6 col-md-3">
        </div>
        <div class="col-6 col-md-3">
        </div>
    </div>
</dev>
</main>
{% endblock content %}